@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";


@keyframes fade {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 1; }
}

.animate-fade {
  animation: fade 1.5s ease-in-out infinite;
}
